@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var context = HttpContextAccessor.HttpContext;
}

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="~/images/logo.svg" alt="Logo del sistema" class="logo" />
            MR Soluciones Integrales - Demo
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Profile", "Account")">Mi Perfil</a>
                </li>
                <li class="nav-item">
                    <form asp-action="Logout" asp-controller="Account" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="nav-link btn btn-link">Cerrar Sesión</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
